*{
    margin: 0px;
    font-family: 'inter';  
}

#primera-parte{
    background-color: #303030;
    width: 1440px;
    height: 475px;
    gap: 0px;
    opacity: 0px;
    padding: 200;


}

#titulo-pagina{
    width: 1024px;
height: 72px;
top: 206px;
left: 62px;
gap: 0px;
opacity: 0px;
color: #FFFFFF;
font-family: Inter;
font-size: 60px;
font-weight: 600;
line-height: 72px;
letter-spacing: -0.025em;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
padding-top: 10%;
padding-left: 50px;

}

#subtitulo{
    color: #FFFFFF;
    width: 1024px;
    height: 28px;
    top: 298px;
    left: 62px;
    gap: 0px;
    opacity: 0px;padding-left: 50px;

}

#informacoes{
    
    display: grid;
    grid-auto-flow: column;
    columns: auto;
    font-size: 40px;
    font-family: 'inter';
    font-weight: 600;
    background-color: #F9F9F9;
    width: 1440px;
    height: 229px;
    p{
        padding-left: 70px;
        padding-top: 70px;
    }
}

span{
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
}


#experiencia{
    width: 1440px;
    padding-top: 100px;
    display: grid;
    grid-auto-flow: column;
    columns: auto;
}

#titulo-experiencia{
padding: 50px;
font-family: Inter;
font-size: 40px;
font-weight: 500;
line-height: 20px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}

#texto-experiencia{
    padding-left: 50px;
    font-family: Inter;
font-size: 24px;
font-weight: 300;
line-height: 30px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
image{
    width: 510px;
height: 605px;
top: 781px;
left: 876px;
gap: 0px;
border-radius: 30px 0px 0px 0px;
opacity: 0px;

}

#container-experiencia{
    margin-top: 17%;
}

#formulario{
    width: 1440;
    margin-top: 100px;
    background-color: #303030;
    width: 1440px;
    height: 638px;
    top: 1478px;
    gap: 0px;
    opacity: 0px;
    

}

#titulo-formulario{
    margin-left: 20px;
    padding-top: 50px;
    width: 944px;
height: 48px;
top: 1565px;
left: 248px;
gap: 0px;
opacity: 0px;
font-family: Inter;
font-size: 32px;
font-weight: 700;
line-height: 48px;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #FFFFFF;
padding-left: 220px;

}

#formulario{
   text-align: center;
}

input{

    width: 508px;
height: 72px;
top: 1661px;
left: 466px;
gap: 0px;
border-radius: 10px ;
opacity: 0px;
font-family: Raleway;
font-size: 24px;
font-weight: 700;
line-height: 30px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
color: #0000004D;
margin-top: 50px;
}

button{
    margin-top: 100px;
    background-color:#C07212;
    color: #FFFFFF;
    width: 286px;
height: 74px;
top: 1955px;
left: 577px;
gap: 0px;
border-radius: 10px;
opacity: 0px;
font-family: Raleway;
font-size: 30px;
font-weight: 700;
line-height: 30px;
text-align: center;
text-underline-position: from-font;
text-decoration-skip-ink: none;
cursor: pointer;
margin: 30px;
}

button:hover{
    background-color: #d1872d;
    color: white;
    transform: translateY(-7px);
    box-shadow: 0px 15px 20px #201303;
    transition: 0.5s;
}
